*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 65%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: rgb(155, 52, 39);
}

#content {
  background-color: burlywood;
  height: 100vh;
}

.tab-container {
  position: absolute;
  width: 65%;
  top: 0;
  display: flex;
  padding: 20px 0;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.tab-container div {
  cursor: pointer;
}
.tab-container div:hover {
  color: rgb(155, 52, 39);
}
.tab-container div.active{
  color: rgb(155, 52, 39);
}

.container {
  padding-top: 75px;
  height: rgb(155, 52, 39);
  background-color: inherit;
}

.container h1 {
  margin-bottom: 20px;
  color: rgb(155, 52, 39);
}

/* Home page styling */
.container .home-div {
  margin-bottom: 20px;
  font-size: 20px;
}

.container .home-div p {
  padding: 25px;
}
/* Menu page styling */
.container .menu-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
}

.container .menu-container .menu-entry {
  height: 365px;
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px 0;
  color: beige;
  background-color: rgb(155, 52, 39);
  border-radius: 20px;
  flex: 1;
}
.container .menu-container .menu-entry h3 {
  padding: 15px;
  font-size: 22px;
}
.container .menu-container .menu-entry .image-div {
  height: 55%;
}
.container .menu-container .menu-entry .image-div img {
  height: 100%;
  border-radius: 15px;
}

.container .menu-container .menu-entry p {
  padding: 10px 25px;
}

/* About us styling */
.container .contact-img-div {
  margin: 50px 0;
}
.container .contact-img-div img {
  border-radius: 25px;
}
.container .contact-div {
  margin: 25px 0;
}
.container .contact-div p {
  padding: 10px;
  font-size: 20px;
}
